<!-- beschrijving wat een halve minor is -->
<section>

    <article>
      <h2>Een halve minor?</h2>
      <p>>Ik wil *ontwerpen met mensen met een beperking* én ik wil *onzichtbare, pratende interfaces maken*.</p>
        <!-- **(Meer van dit soort quotes, toch?)** -->
      <p>
        De minor Exclusive Design is een van de zogenaamde *halve minors*, of zoals ze officieel heten een *minormodule 15 <abbr>ECTS</abbr>. 
        We bieden deze halve minors aan zodat je zelf een programma kunt samenstellen dat veel meer aansluit bij wat je zelf wil leren. 
        Je kiest dus niet voor één grote minor, maar je stelt zelf een programma samen van twee halve minoren. Je zou er bijvoorbeeld voor kunnen 
        kiezen om naast het ontwerpen samen met echte mensen met beperkingen, je ook nog te verdiepen in het bedenken en maken van conversational 
        interfaces.
      </p>
    </article>

    <article>
      <p>
        Dus. Naast deze minor ga je nog een andere halve minor volgen. Hieronder een lijstje met de halve minors die dit jaar worden aangeboden op de HvA. 
      </p>

      <h2>De halve minors bij de Faculteit Digitale Media en Creatieve Industrie</h2>
      <ul>
          <li></li>
      </ul>

      <h2>Samenwerking tussen de faculteiten Business en Economie, Onderwijs en Opvoeding en Techniek</h2>
      <ul>
          <li></li>
      </ul>

      <h2>De halve minors bij de faculteit Business en Economie</h2>
      <ul>
          <li></li>
      </ul>
    </article>

  </section>
