<!------- Studentenwerk ------->

  <section class='werk' id="studentenwerk">
    <h1>Stud&shy;enten&shy;werk</h1>

    <ul>
      <!------- Werk 1 ------->
      <li>
        <h2>Een gitaar voor Eric</h2>
        <img src='/public/images/studentenwerk.productdesign.png' alt='Testen met Erik product muziek maken'>
      
        <p>Studentnaam</p>
        <p>Verhaaltje Verhaaltje Verhaaltje Verhaaltje</p>
      </li>

      <!------- Werk 2 ------->
      <li>
        <h2>Visueel rijke closed captions</h2>
        <img src='/public/images/cc-werk.png' alt='Closed caption voor Avengers Infinty War'>
      
        <p>Studentnaam</p>
        <p>Verhaaltje Verhaaltje Verhaaltje Verhaaltje</p>
      </li>

      <!-- ----- Werk 3 ----- -->
      <li>
        <h2>Werk 3</h2>
        <img src='/public/images/dummy_img_03.png' alt='dummy img 03'>
      
        <p>Studentnaam</p>
        <p>Verhaaltje Verhaaltje Verhaaltje Verhaaltje</p>
      </li>
    </ul> 

    <a href="/studentenwerk"> Meer werk bekijken..</a>

  </section>
