<!------- Korte beschrijving over de minor ------->
  <section>

    <article>
      <h2>In de minor Exclusive Design..</h2>
      <p>
        .. ga je dingen bedenken en maken voor die mensen die we vaak vergeten. 
        Je gaat tailor made oplossingen ontwerpen voor én met echte mensen met 
        echte beperkingen, lichamelijk of geestelijk. Heel specifiek en heel 
        exclusief voor één enkel mens. Vandaar de naam Exclusive Design.
      </p>
    </article>

    <article>
      <p>
        .. ga je intensief samenwerken met studenten van uiteenlopende studies. 
        Iedereen brengt zijn eigen expertise mee. Net als degene voor wie, en 
        met wie, je gaat ontwerpen. Het is je wellicht al opgevallen maar 
        telkens wordt er benadrukt dat je niet alleen voor iemand gaat ontwerpen, 
        maar vooral ook samen met deze persoon. Het is de bedoeling dat zijn of haar 
        identiteit en expertise een grote rol spelen in het ontwerpproces; net zoals 
        jouw identiteit en expertise.
      </p>

      <a href="/detail">Lees meer over de minor..</a>
    </article>

    <a href="#studentenwerk"> 
      <img src="public/images/studentenwerk.productdesign.png"
           alt="Testen met Erik product muziek maken">
      <span>Bekijk studentenwerk</span>
    </a>
  </section>
