<!------- Studentenwerk ------->

  <section class='werk' id="studentenwerk">
    <h1>Stud&shy;enten&shy;werk</h1>

    <div> 

      <!------- Werk 1 ------->
      <article>
        <h2>Werk 1</h2>
        <img src='public/images/dummy_img_01.png' alt='dummy img 01'>

        <p>Studentnaam</p>
        <p>Verhaaltje Verhaaltje Verhaaltje Verhaaltje</p>
      </article>


      <!------- Werk 2 ------->
      <article>
        <h2>Werk 2</h2>
        <img src='public/images/dummy_img_02.png' alt='dummy img 02'>

        <p>Studentnaam</p>
        <p>Verhaaltje Verhaaltje Verhaaltje Verhaaltje</p>
      </article>


      <!------- Werk 3 ------->
      <article>
        <h2>Werk 3</h2>
        <img src='public/images/dummy_img_03.png' alt='dummy img 03'>
      
        <p>Studentnaam</p>
        <p>Verhaaltje Verhaaltje Verhaaltje Verhaaltje</p>
      </article>

    </div>  

    <a href="/studentenwerk">Meer werk bekijken..</a>

  </section>
