--- 
site_title: Minor Exclusive Design
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asset&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Sansita:wght@400;700&display=swap" rel="stylesheet">
    <title>{{ site_title }}</title>
  </head>

  <body>
 
    <header>
      <h1>{{ site_title }}</h1>

      <nav> 
         <a href="/">Terug naar de homepagina</a>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p> <a href="https://minoren.mijnhva.nl/2021-2022/exclusive-design" target="_blank">Naar HvA minor pagina</a> </p>
    </footer>

  </body>

</html>