--- 
site_title: Exclusive Design
---

<!doctype html>
<html lang="nl"> 

  {% include "_partials/_template_partials/_head.njk" %}

  <body>
    {% include "_partials/_template_partials/_header.njk" %}

    <main>
      {% include "_partials/_studentenwerk.html" %}
    </main>

    {% include "_partials/_template_partials/_footer.njk" %}

  </body>

</html>