<footer>
  {# <p> <a href="https://minoren.mijnhva.nl/2021-2022/exclusive-design" target="_blank">Naar HvA minor pagina</a> </p> #}
  <img src="public/images/HvA_logo_NL.png" alt="Hogeschool van Amsterdam Logo" >
</footer>

</body>

</html>