<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/public/styles/general.css" rel="stylesheet">
  <link href="/public/styles/overview.css" rel="stylesheet">
  <link href="/public/styles/detail.css" rel="stylesheet">
  <link href="/public/styles/halve-minor.css" rel="stylesheet">
  <link href="/public/styles/studentenwerk.css" rel="stylesheet">
  <link href="/public/styles/concentratiestoornis.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/public/images/icon-site.png">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Asset&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Sansita:wght@400;700&display=swap" rel="stylesheet">
  <script src="/public/scripts/script.js" defer></script>
  <title>{{ site_title }}</title>
</head>
