<header>
  <a href="/">
    <h1>
      <span>
        Exclu&shy;sive De&shy;sign
      </span>
      <span></span>
    </h1>
  </a>
  <section>
    <h2>
      HALVE MINOR</h2>
    <a href="/halve-minor">Kies er dus nog een!</a>
  </section>
  <nav>
    <div>
      <p>
        Enig idee hoe het is om deze website te bekijken met een beperking?
      </p>
      <button id="klik">Klik</button>
    </div>
    <ul>
      <li>
        Test het eens!
      </li>
      <li>
        <button id='macula'>Macula Degeneratie (oogaandoening)</button>
      </li>
      {# <li><button id='motoriek'>Motorische aandoening</button></li> #}
      <li>
        <button id='concentratie'>Concentratiestoornis</button>
      </li>
      {# <li><button id='laaggeletterd'>Laaggeletterd</button></li>
                                              <li><button id='doof'>Doof</button></li> #}
      <a href="#">
        verbergen
      </a>
    </ul>
  </nav>
</header>