{# <nav> 
  <button id="klik">Klik</button>

  <ul>
    <p> Enig idee hoe het is om deze website te bekijken met een beperking?
        Test het eens! </p>
    <li><button id='macula'>Macula Degeneratie (oogaandoening)</button></li>
    <li><button id='motoriek'>Motorische aandoening</button></li>
    <li><button id='concentratie'>Concentratiestoornis</button></li>
    <li><button id='laaggeletterd'>Laaggeletterd</button></li>
    <li><button id='doof'>Doof</button></li>
  </ul>
</nav> #}