/****************************/
/*  LAYOUT - MINOR UITLEG  */
/**************************/
.minor-uitleg > a:first-of-type {
  position: absolute;
  top: 14rem;
  left: 70rem; 
  font-size: 1.5rem;
}

.minor-uitleg h2 {
  font-size: 2.625rem;
}

.minor-uitleg div > p a {
  position: absolute;
  top: 1rem;
  font-size: 1.5rem;
}

.minor-uitleg section {
  width: 45vw;
}


/* 
.minor-uitleg section:nth-of-type(odd):not(section:nth-of-type(1)) {
  text-align: right;
  margin: 0 0 0 auto;
} */

/* leerdoelen */
.minor-uitleg section:nth-of-type(2) ul li:not(li:nth-of-type(1)) {
  margin: 0 0 0 2rem;
}

.minor-uitleg ul li::marker {
  position: absolute;
  font-size: 1.5rem;
}
.minor-uitleg section:nth-of-type(2) ul li:nth-of-type(1) {
  font-size: 1.75rem;
  font-family: 'Sansita', sans-serif;
  font-weight: 400;
  margin: 2.5rem 0 0.25rem 0;
  list-style: none;
  height: 2.35rem;
}

.minor-uitleg section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1) {
  width: 11.5rem;
  background-color: #fffb00;
  box-shadow: -0.7rem 0 0 0 #fffb00;
}

.minor-uitleg section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(1) {
  width: 14.5rem;
  background-color: #de6ee2;
  box-shadow: -0.7rem 0 0 0 #de6ee2;
}

.minor-uitleg section:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(1) {
  width: 13rem;
  background-color: #8cd7ed;
  box-shadow: -0.7rem 0 0 0 #8cd7ed;
}

.minor-uitleg section:nth-of-type(2) ul:nth-of-type(4) li:nth-of-type(1) {
  width: 11rem;
  background-color: #8ec84c;
  box-shadow: -0.7rem 0 0 0 #8ec84c;
}

.minor-uitleg section:nth-of-type(2) ul:nth-of-type(4) li:nth-of-type(4) {
  font-size: 1rem;
  font-style: italic;
  list-style: none;
  margin: 1rem 0 0 0;
}

.minor-uitleg section:nth-of-type(2) ul:nth-of-type(4) li:nth-of-type(4) > a{
  font-size: 1rem;
  font-family: 'Sansita', sans-serif;
  text-decoration: underline;
  color: black;
}


/****************************/
/*      TEKST STYLING      */
/**************************/
.minor-uitleg section article > p > span {
  font-weight: 700;
}

/* alle h2 */
.minor-uitleg section h2 {
  margin-top: 2em;
}
.minor-uitleg section:nth-of-type(1) article h2::before {
  content: '';
  position: absolute;
  z-index: -1;
  animation-iteration-count: infinite;
}

.minor-uitleg section:nth-of-type(1) article h2::after {
  content: '';
  position: absolute;
  z-index: -2;
  animation-iteration-count: infinite;
}

/* article 1 */
.minor-uitleg section:nth-of-type(1) article:nth-of-type(1) h2::before {
  top: .3rem;
  left: -2.5rem;
  width: 14rem;
  height: 3rem;
  background-color:rgba(237, 122, 205, 0.9);
}

.minor-uitleg section:nth-of-type(1) article:nth-of-type(1) h2::after {
  top: -.25rem;
  left: 8.75rem;
  width: 13rem;
  height: 2.75rem;
  background-color: rgba(139, 225, 231, 0.8);
}


/* article 2 */
.minor-uitleg section:nth-of-type(1) article:nth-of-type(2) h2::before {
  top: .3rem;
  left: 1.75rem;
  width: 24rem;
  height: 5rem;
  background-color:rgba(150, 231, 168, 0.7);
}

.minor-uitleg section:nth-of-type(1) article:nth-of-type(2) h2::after {
  top: -.3rem;
  left: 14rem;
  width: 21rem;
  height: 4rem;
  background-color: rgba(237, 122, 205, 0.9);
}


/* article 3 */
.minor-uitleg section:nth-of-type(1) article:nth-of-type(3) h2::before {
  top: -.3rem;
  left: -1.5rem;
  width: 12rem;
  height: 5rem;
  background-color:rgba(139, 225, 231, 0.8);
}

.minor-uitleg section:nth-of-type(1) article:nth-of-type(3) h2::after {
  top: 3rem;
  left: 8.5rem;
  width: 28rem;
  height: 4rem;
  background-color: rgba(150, 231, 168, 0.7);
}

/* article 4 */
.minor-uitleg section:nth-of-type(1) article:nth-of-type(4) h2::before {
  top: -1rem;
  left: -1.5rem;
  width: 22rem;
  height: 4.5rem;
  background-color:rgba(237, 122, 205, 0.9);
}

.minor-uitleg section:nth-of-type(1) article:nth-of-type(4) h2::after {
  top: 2.5rem;
  left: 18rem;
  width: 18rem;
  height: 5rem;
  background-color: rgba(150, 231, 168, 0.7);
}


/* article 5 */
.minor-uitleg section:nth-of-type(1) article:nth-of-type(5) h2::before {
  top: -.3rem;
  left: -2.5rem;
  width: 12rem;
  height: 3.5rem;
  background-color:rgba(139, 225, 231, 0.8);
}

.minor-uitleg section:nth-of-type(1) article:nth-of-type(5) h2::after {
  top: 1rem;
  left: 8.5rem;
  width: 11rem;
  height: 2.75rem;
  background-color:rgba(237, 122, 205, 0.9);
}


/* first letters */
.minor-uitleg section:first-of-type p::first-letter {
  font-weight: bold;
  font-size: 88px;
  font-family: 'Sansita', sans-serif;
  float: left;
  line-height: 1em;
  margin: 0 .3em;
}

.minor-uitleg section:first-of-type p {
  position: relative;
}

/* alle articles before */
.minor-uitleg section:first-of-type article p::before {
  content: '';
  position: absolute;
  z-index: -1;
}

/* article 1 */
.minor-uitleg section:first-of-type article:nth-of-type(1) p::before {
  top: .5em;
  left: -.6em;
  width: 90px;
  height: 90px;
  background-color: rgba(150, 231, 168, 0.7);
  transform: rotate(-15deg);
}

/* article 2 */
.minor-uitleg section:first-of-type article:nth-of-type(2) p::before {
  top: .5em;
  left: -.7em;
  width: 130px;
  height: 100px;
  background-color: rgba(139, 225, 231, 0.8);
  transform: rotate(105deg);
}

/* article 3 */
.minor-uitleg section:first-of-type article:nth-of-type(3) p:first-of-type::before {
  top: 0;
  left: 0;
  width: 60px;
  height: 70px;
  background-color: rgba(237, 122, 205, 0.9);
  transform: rotate(10deg);
}

.minor-uitleg section:first-of-type article:nth-of-type(3) p:first-of-type::after {
  content: '';
  position: absolute;
  top: 3em;
  left: -1em;
  width: 100px;
  height: 50px;
  background-color: rgba(150, 231, 168, 0.7);
  transform: rotate(-20deg);
  z-index: -2;
}

.minor-uitleg section:first-of-type article:nth-of-type(3) p:last-of-type:before {
  top: 0;
  left: 0;
  width: 70px;
  height: 110px;
  background-color: rgba(139, 225, 231, 0.8);
  transform: rotate(-5deg);
}


/* article 4 */
.minor-uitleg section:first-of-type article:nth-of-type(4) p::before {
  top: .25em;
  left: .25em;
  width: 70px;
  height: 100px;
  background-color: rgba(139, 225, 231, 0.8);
  transform: rotate(-7deg);
}

/* article 5 */
.minor-uitleg section:first-of-type article:nth-of-type(5) p::before {
  top: -9em;
  left: 2em;
  width: 80px;
  height: 300px;
  background-color: rgba(150, 231, 168, 0.7);
  transform: rotate(17deg);
  z-index: -3;
}




/* section 3 */
.minor-uitleg section:nth-of-type(3){
  position: relative;
  top: -50rem;
  left: 57rem;
}

.minor-uitleg section:nth-of-type(3) h2,
.minor-uitleg section:nth-of-type(4) h2 {
  font-size: 2rem;
  font-family: 'Sansita', sans-serif;
  font-weight: 700;
}

.minor-uitleg section:nth-of-type(3)::before {
  content: '';
  position: absolute;
  top: -3rem;
  left: -2rem;
  width: 25rem;
  height: 11rem;
  background-color: rgba(139, 225, 231, 0.8);
  transform: rotate(-15deg);
  z-index: -1;
  animation-iteration-count: infinite;
}

.minor-uitleg section:nth-of-type(4){
  position: relative;
  top: -40rem;
  left: 57rem;
}

.minor-uitleg section:nth-of-type(4)::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: -3rem;
  width: 22rem;
  height: 11rem;
  background-color: rgba(237, 122, 205, 0.9);
  transform: rotate(17deg);
  z-index: -1;
  animation-iteration-count: infinite;
}