.studentenwerk > article p {
  width: 40vw;
}
.studentenwerk article {
  margin: 5rem 0rem;
}

/*******************************/
/*     TEKST BEFORE & AFTER    */
/******************************/
/* first letters */
.studentenwerk p:first-of-type:first-letter {
  font-weight: bold;
  font-size: 88px;
  font-family: 'Sansita', sans-serif;
  float: left;
  line-height: 1em;
  margin: 0 .3em;
}

.studentenwerk p {
  position: relative;
}

.studentenwerk > h2::before {
  content: '';
  position: absolute;
  width: 4rem;
  height: 3rem;
  top: .3rem;
  left: 25.5rem;
  background-color:#ed7acde6;
    z-index: -1;
  }

  .studentenwerk  > h2::after {
    content: '';
    position: absolute;
    top: -.25rem;
    left: 15.75rem;
    width: 13rem;
    height: 2.75rem;
    background-color: #97e7a8b3;
    z-index: -1;
  }

  .studentenwerk > p:first-of-type::before {
    content: '';
    position: absolute;
    top: -.25rem;
    left: .75rem;
    width: 5rem;
    height: 4.75rem;
    background-color:  #8be1e7cc;
    z-index: -1;
  }

/*    PROJECT 1     */
 .studentenwerk article:first-of-type h2::before {
    content: '';
    position: absolute;
    width: 4rem;
    height: 6rem;
    top: .3rem;
    left: 2.5rem;
    background-color:#ed7acde6;
    z-index: -1;
  }

  .studentenwerk article:first-of-type h2::after {
    content: '';
    position: absolute;
    top: -.25rem;
    left: 4.75rem;
    width: 13rem;
    height: 2.75rem;
    background-color: #8be1e7cc;
    z-index: -1;
  }

  .studentenwerk article:first-of-type p:first-of-type::before {
    content: '';
    position: absolute;
    top: -.25rem;
    left: .75rem;
    width: 5rem;
    height: 7.75rem;
    background-color:  #96e7a8b3;
    z-index: -1;
    transform: rotate(120deg);
  }

  /*    PROJECT 2     */

  .studentenwerk article:nth-of-type(2) h2::before {
    content: '';
    position: absolute;
    width: 7rem;
    height: 4rem;
    top: .3rem;
    left: 15.5rem;
    background-color:#96e7a8b3;
    z-index: -1;
  }
  
  .studentenwerk article:nth-of-type(2) h2::after {
    content: '';
    position: absolute;
    top: -.25rem;
    left: 4.75rem;
    width: 13rem;
    height: 2.75rem;
    background-color: #ed7acde6;
    z-index: -1;
  }


  .studentenwerk article:nth-of-type(2) p:first-of-type::before {
    content: '';
    position: absolute;
    top: -.25rem;
    left: .75rem;
    width: 3rem;
    height: 10.75rem;
    background-color: #8be1e7cc;
    transform: rotate(30deg);
    z-index: -1;
  }

/*    PROJECT 3     */
  .studentenwerk article:nth-of-type(3) h2::before {
    content: '';
    position: absolute;
    width: 4rem;
    height: 7rem;
    top: -3rem;
    left: 10.5rem;
    background-color:#96e7a8b3;
    z-index: -1;
  }
  
  .studentenwerk article:nth-of-type(3) h2::after {
    content: '';
    position: absolute;
    top: -.25rem;
    left: 2.75rem;
    width: 13rem;
    height: 2.75rem;
    background-color:#8be1e7cc;
    z-index: -1;
  } 


  .studentenwerk article:nth-of-type(3) p:first-of-type::before {
    content: '';
    position: absolute;
    top: -.25rem;
    left: .75rem;
    width: 5rem;
    height: 4.75rem;
    background-color:  #ed7acde6;
    z-index: -1;
  }


/************************/
/* PROJECT ERIC LAYOUT */
/************************/

.studentenwerk article:first-of-type video {
    max-width: 25rem;
    max-height: 14rem;
}

.studentenwerk article:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.studentenwerk article:first-of-type h2, .studentenwerk article:first-of-type p:not(:last-of-type) {
   grid-column-start: 1;
   grid-column-end: 1;
}

.studentenwerk article:first-of-type video {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
    bottom: 4rem;
 }

 .studentenwerk article:first-of-type p:last-of-type {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
 }

/************************/
/* PROJECT CC LAYOUT */
/************************/

.studentenwerk article:nth-of-type(2) img {
  max-width: 40vw;
  max-height: 22vw;
}

.studentenwerk article img {
  margin: 0rem 1rem 0rem 0rem;
}