/**********************/
/*      ALGEMEEN      */
/**********************/
* {
  margin: 0rem;
  padding: 0rem;
}

body {
  background-color: rgb(229, 229, 229);
}

main {
  width: 96%;
  margin: 0 auto;
}

/**********************/
/*       HEADER      */
/**********************/
header {
  margin-top: 4em;
}

header h1 {
  margin-left: 0.25em;
}

header::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 340px;
  width: 970px;
  height: 160px;
  background-color: rgba(139, 225, 231, 0.8);
  z-index: -1;
}

header::after {
  content: '';
  position: absolute;
  top: 140px;
  left: 1110px;
  width: 180px;
  height: 90px;
  background-color: rgba(150, 231, 168, 0.7);
  z-index: -1;
}

header h1::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 8px;
  width: 110px;
  height: 140px;
  background-color: rgba(237, 122, 205, 0.9);
  z-index: -1;
}

header h1::after {
  content: '';
  position: absolute;
  top: 140px;
  left: 80px;
  width: 650px;
  height: 180px;
  background-color: rgba(150, 231, 168, 0.7);
  z-index: -2;
}

nav::after {
  content: '';
  position: absolute;
  top: -86px;
  left: -115px;
  width: 395px;
  height: 140px;
  background-color: rgba(237, 122, 205, 0.9);
  z-index: -1;
}

/**********************/
/*      NAVIGATIE     */
/**********************/

nav {
  position: absolute;
  max-width: 350px;
  height: auto;
  padding: 1em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  margin-top: 3em;
  text-align: right;
  left: 35em;
  top: 10em;
}

nav p {
  max-width: 60%;
}

nav ul {
  display: none;
}

nav button {
  background-color: black;
  border-radius: 50%;
  height: 100px;
  min-width: 100px;
  color: white;
  border: none;
  transition: .5s ease;
  font-size: 28px;
  font-family: 'Sansita', sans-serif;
  font-weight: 700;
  box-shadow: 3px 2px 1px 1px rgba(0, 0, 0, 0.25);
}

nav button:hover {
  background-color: rgb(56, 56, 56);
  cursor: pointer;
  box-shadow: 4px 3px 1px 1px rgba(0, 0, 0, 0.25);
}

/**********************/
/*     TYPOGRAFIE     */
/**********************/
h1 {
  /*bron: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
  font-size: clamp(1rem, -0.875rem + 7.666vw, 6rem);
  font-family: 'Asset', cursive;
}

h2 {
  font-size: 28px;
  font-family: 'Sansita', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-family: 'Sansita', sans-serif;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin: 1em 0em;
}

a {
  font-size: 20px;
  font-family: 'Sansita', sans-serif;
  text-decoration: underline;
  color: black;
}

a:hover {
  color: #565656;
}

ul li {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

section:nth-of-type(2) h1 {
  text-align: right;
}

/***********************/
/*     INFO MINOR     */
/***********************/

h2 {
  position: relative;
}

section:nth-of-type(1) {
  width: 65vw;
  margin: 5em 0em 0em 0em;
}

section:nth-of-type(1) h2::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -10px;
  width: 185px;
  height: 30px;
  background-color: rgba(139, 225, 231, 0.8);
  z-index: -1;
}

section:nth-of-type(1) h2::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 115px;
  width: 180px;
  height: 40px;
  background-color: rgba(237, 122, 205, 0.9);
  z-index: -2;
}

/***********************/
/*    STUDENTENWERK    */
/***********************/
img {
  width: 20vw;
  height: auto;
}

div {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 650px;
}

div>article:nth-of-type(2) {
  position: absolute;
  top: 3em;
  left: 35vw;
  transform: rotate(10deg);
}

div>article:nth-of-type(3) {
  position: absolute;
  top: 12vw;
  left: 69vw;
  transform: rotate(20deg);
}

section:nth-of-type(2) a {
  display: flex;
  justify-content: center;
  font-size: 24px;
  width: 100%;
  margin-bottom: 1em;
}

section {
  margin-top: 6em;
}

section h1 {
  margin-bottom: 0.75em;
}

.overview section::before {
  content: '';
  position: absolute;
  top: 600px;
  left: 630px;
  width: 130px;
  height: 500px;
  background-color: rgba(150, 231, 168, 0.7);
  z-index: -1;
}


section h1::before {
  content: '';
  position: absolute;
  top: 860px;
  left: 280px;
  width: 1160px;
  height: 170px;
  background-color: rgba(237, 122, 205, 0.9);
  z-index: -2;
}

section h1::after {
  content: '';
  position: absolute;
  top: 920px;
  left: 700px;
  width: 330px;
  height: 140px;
  background-color: rgba(139, 225, 231, 0.8);
  z-index: -1;
}

section:nth-of-type(2) h2 {
  margin: .5em;
  text-align: right;
}

section:nth-of-type(2) article {
  width: 20vw;
  text-align: right;
}

section:nth-of-type(2) article p:nth-of-type(1) {
  font-weight: 700;
  font-family: 'Sansita', sans-serif;
}


/* footer */
footer {
  position: static;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 100%;
  height: 4.5em;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #b6b6b6;
}

/**********************/
/*     RESPONSIVE     */
/**********************/
@media (max-width: 720px) {
  /**********************/
  /*      NAVIGATIE     */
  /**********************/

  nav {
    width: auto;
    position: relative;
    top: auto;
    left: auto;
  }

  nav p {
    max-width: 70%;
    font-size: 16px;
  }

  nav button {
    border-radius: 50%;
    height: 70px;
    min-width: 70px;
  }

  /***********************/
  /*     INFO MINOR     */
  /***********************/

  section:nth-of-type(1) {
    width: auto;
  }

  /***********************/
  /*    STUDENTENWERK    */
  /***********************/
  div {
    flex-direction: column;
    align-items: center;
  }

  div>article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div>article p {
    width: 50vw;
    text-align: center;
    background-color: yellow;
  }

  div>article:nth-of-type(1) {
    transform: rotate(-20deg);
  }

  div>article:nth-of-type(2) {
    position: relative;
    top: 3em;
    left: 0;
    transform: rotate(20deg);
  }

  div>article:nth-of-type(3) {
    position: relative;
    top: 6em;
    left: 0;
    transform: rotate(-20deg);
  }

  img {
    width: 40vw;
    height: auto;
  }
}